<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Admin Report</title>
		<link rel="stylesheet" th:href="@{bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{style.css}">
	</head>
	<body>
		<div class="loginform">
			<div class="ahome-div">
				<div class="list-group" >
					<div th:each="list : ${lists}">
						<a href="#" class="list-group-item list-group-item-action" th:href="@{/attendancereportadmin/{id}(id=${list.id})}">
						<span th:text="${list.username}"></span>
						</a>
					</div>
					<br>
				</div>
				<form class="registerform" th:action="@{/logout}" method="post" >
				
				<div class="regbtndiv">
					<div class="container">
						<div id="btndiv" class="row">			
							<div class="col-sm m-2">
								<button type="submit" class="btn btn-secondary">LOGOUT</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="@{bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{attendence.js}"></script>
</html>