<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home Attendance</title>
		<link rel="stylesheet" th:href="@{bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{../style.css}">
	</head>
	<body>
		<div class="loginform">
			<div class="ahome-div">
				<div>
					<p th:text = "${currentDate}"></p>
					<p th:text = "${currentTime}"></p>
				</div>
				<div class="signdiv">
					<div class="container">
						<div id="signinoutbtn" class="row">
							<div class="col-sm mt-2">
								<a class="btn btn-primary" th:href="@{/signonoff}">
									<td>
									    <span th:if="${signstatus != '1'}">SIGNIN</span>
									    <span th:if="${signstatus == '1'}">SIGNOUT</span>
									</td>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="viewreportdiv">
					<div class="col-sm mt-2">		
						<a  class="btn btn-secondary" th:href="@{/attendancereport}">View Report</a>
					</div>
				</div>
				<form class="registerform" th:action="@{/logout}" method="post" >
				
				<div class="regbtndiv">
					<div class="container">
						<div id="btndiv" class="row">			
							<div class="col-sm m-2">
								<button type="submit" class="btn btn-secondary">LOGOUT</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="@{bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{../attendence.js}"></script>
</html>