<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>User Attendance Report</title>
		<link rel="stylesheet" th:href="@{bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{../style.css}">
	</head>
	<body>
		<div class="loginform">
			<div>
				<ul th:each="list : ${lists}">
					<hr th:if="${list.groupflag == 1}" style="width:80%;text-align:left;margin-left:0">
					<span th:text="${list.signdatetime}"></span>
					<br>
					Sign In -
					<span th:text="${list.signintime}"></span>
					<br>
					Sign Out - 
					<span th:text="${list.signouttime}"></span>
					<br>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="@{bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{../attendence.js}"></script>
</html>